@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f9fc;
  --foreground: 0, 0,0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background: var(--nextui-background);
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.dark {
  --foreground: 255, 255, 255;
  --background: var(--nextui-background);/*#18191a;*/
}
